.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  top : -4;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.ListHeader, #Title,#userList, .search_input{
    margin:10px;
    margin-bottom:20px;
}

#Title{
    margin-top: 20px
}

a{
 text-decoration: none    
}

.cardImg{
    width: 150px;
    height: 100px;
}