body{
    /*color: #3f3327; !important;*/
    background-image: url("../images/index.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn.btn-primary {
  background-color: #3f3327 !important;
  color : #fff
}
/* User Home Page  */
.user-home{
    margin-top : 2% ;
}

/* Order Form  */
/* Added item  */
.order-card {
    padding: 3% ;
    display: none ;
}

.added-item {
    margin: 2% 0 2% 0 ;
    border : 2px solid #ddd ;
    border-radius: 10px ;
    padding: 1% ;
}
/*add products*/
.left-margin{
    margin:0 .5em 0 0;
}

.right-button-margin{
    margin: 0 0 1em 0;
    overflow: hidden;
}

/* some changes in bootstrap modal */
.modal-body {
    padding: 20px 20px 0px 20px !important;
    text-align: center !important;
}

.modal-footer{
    text-align: center !important;
}
/*navigation bar*/
.navigation{
 background-color: #3f3327;
}
.bg-primary{
  background-color: #3f3327 !important ;
}
#iti{
    color: #8fadff;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
;
}
#home, #homee{
    color: #b3bffb; !important;
    font-weight: bolder;
}
/*table head*/
.thead-blue{
    color: #e5ffbe;
    background-color: #5e1c10;
}
/*table hover*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #e40008;
}
/*my orders div*/
#myOrders{
    font-family: 'Sniglet', cursive;
}
#headOrders{
    background-color: rgba(96, 28, 24, 0.8);
}
/*buttons*/
.filter{
    margin-left: 6%;
}
.filterBtn{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #5f78b3;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*the date*/
#start,#end{
    margin-right: 3%;
    margin-left:1%;
    text-align: right;
}
/*Your past orders*/
#head{
    margin-top: 7px;
    margin-left: 5.5%;
}
/*every text in page*/
.text{
    color: #4d0003;
}
/*row of products*/
.orderProducts{
    padding: 5px;
}
/*data created*/
.data{
    text-align: center;
    background-color: #cddaea;
    color: #701723;
}

/* login Page */

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

  .form-signin {
    width: 100%;
  }

  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }

 #orderTable{
     min-height: 400px;
 }


  #Pagination{
  }

  /* .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  } */
